<template>
  <div>
      <slot name="header"/>
  </div>
  <div>
      <slot name="isi"/>
  </div>
  <div>
      <slot name="footer"/>
  </div>
</template>

<script setup>

</script>

<style lang="scss" scoped>

</style>