<template>
  <div class="wrapper">
    <grand-child :setData="props.setData">
        <template #header>
            <slot name="header"/>
        </template>
        <template #isi>
            <slot name="isi"/>
        </template>
        <template #footer>
          <div v-for="data in props.setData" :key="data.id">
              <pre><span>{{ data.address.address }}</span></pre>
          </div>
            <slot name="footer"/>
        </template>
    </grand-child>
    <div>
      <slot name="tengah"/>
    </div>
  </div>
</template>

<script setup>
import GrandChild from './GrandChild.vue';
import { defineProps } from "vue";


const props = defineProps({
  setData: Array,
});

</script>

<style lang="scss" scoped>

</style>