<template>
  <div id="app">
    <test-slot :setData="datum">
      <template #header>
       <h1>Header</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur recusandae delectus beatae, ea natus neque sed placeat porro quos dolorem possimus, voluptate, exercitationem culpa laudantium? Cupiditate vero omnis inventore deserunt.</p>
      </template>
      <template #isi>
       <h1>isi</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur recusandae delectus beatae, ea natus neque sed placeat porro quos dolorem possimus, voluptate, exercitationem culpa laudantium? Cupiditate vero omnis inventore deserunt.</p>
      </template>
      <template #footer>
       <h1>footer</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur recusandae delectus beatae, ea natus neque sed placeat porro quos dolorem possimus, voluptate, exercitationem culpa laudantium? Cupiditate vero omnis inventore deserunt.</p>
      </template>

      <template #tengah>
         <ul v-for="data in datum" :key="data.id">{{ data.firstName }} / {{ data.id }}</ul>
      </template>
    </test-slot>
    <!-- <pre>{{ datum }}</pre> -->
  </div>
</template>

<script setup>
import TestSlot from './components/TestSlot.vue';
import axios from 'axios';
import { ref, onMounted } from '@vue/runtime-core';


const datum = ref([]);

async function getData() {
  try {
    const response = await axios.get('https://dummyjson.com/users');
    datum.value = response.data.users
  } catch (error) {
    console.error(error);
  }
}

onMounted(() => {
  getData()
})

</script>

<style lang="scss" scoped>

</style>